{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}


{# Titre de la page #}
{% block title %}Accueil{% endblock %}


{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">


        <div class="row">

            {# Affichage du titre du site dans le h1 #}
            <h1 class="col-12 text-center my-5">{{ site_name }}</h1>
        </div>

        {# Contenu lorem #}
        <div class="row">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>

            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut commodi consequatur, cupiditate, dolor dolorum est, explicabo in iste mollitia natus necessitatibus odio officia possimus quasi quia quibusdam ratione reiciendis sed sequi soluta suscipit unde vel veritatis voluptate? Aperiam dolorem porro quo ut voluptas. Officiis omnis voluptas voluptatum.</p>

        </div>

        {# Affichage de l'image fixe en bandeau #}
        <div class="batman-cover row my-5"></div>


        {# Affichage des derniers articles publiés #}
        <div class="row">

            <div class="col-12 col-md-8 mx-auto">

                <div class="row">
                    <h2 class="col-12 text-center">Dernières publications</h2>
                </div>

                {# Boucle pour parcourir tous les articles à afficher #}
                {% for article in articles %}

                    <div class="row">

                        <div class="col-12">

                            <div class="card my-3 bg-black">

                                <div class="card-header">

                                    {# Titre de l'article, cliquable vers la page détaillée de l'article #}
                                    <a class="text-decoration-none" href="{{ path('blog_publication_view', {'slug': article.slug}) }}"><i class="far fa-newspaper me-2"></i>{{ article.title }}</a>
                                </div>

                                <div class="card-body">

                                    <div class="mb-2">

                                        {# Affichage du contenu de l'article, tronqué à 150 caractères, sans balises html, suivi de "..." et d'un lien "lire la suite" #}
                                        {{ article.content|striptags|excerpt(100) }}...
                                        <a class="text-decoration-none" href="{{ path('blog_publication_view', {'slug': article.slug}) }}">Lire la suite</a>
                                    </div>

                                    {# Date et auteur de l'article #}
                                    <footer class="blockquote-footer my-2">Publié le <strong>{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                                </div>

                            </div>

                        </div>
                    </div>

                {% else %}

                    <div class="row">
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                    </div>

                {% endfor %}

            </div>

        </div>


        {# Contenu lorem #}
        <div class="row mb-5">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid consequatur dignissimos eum obcaecati praesentium. Assumenda dolores dolorum esse laboriosam, libero natus quod sapiente! Accusamus animi commodi, cumque eaque eligendi facere fugiat harum libero magni maxime, minus nesciunt nihil porro provident quas qui quisquam quo rerum totam ut? Alias, magnam!</p>

        </div>


    </div>

{% endblock %}
