{# Utilisation du squelette de page "base.html.twig" #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Liste des publications{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Publications du Blog de Batman</h1>
            </div>
        </div>

        {# Affichage du nombre total d'articles (attribut apporté par knp_paginator) #}
        <div class="row">
            <div class="col-12 text-center">Nombre total d'articles : {{ articles.getTotalItemCount }}</div>
        </div>

        {# Inclusion du menu de navigation entre les pages #}
        {% include 'partials/_paginate_nav_menu.html.twig' %}

        {# Affichage des articles #}
        <div class="row">

            <div class="col-12 col-md-8 mx-auto">

                <div class="row">

                    <div class="col-12">

                        {# Boucle pour parcourir tous les articles à afficher #}
                        {% for article in articles %}

                            <div class="card my-3 bg-black">

                                <div class="card-header">

                                    {# Titre de l'article, cliquable vers la page détaillée de l'article #}
                                    <a class="text-decoration-none" href="{{ path('blog_publication_view', {slug: article.slug}) }}">
                                        <i class="far fa-newspaper me-2"></i>{{ article.title }}
                                    </a>
                                </div>

                                <div class="card-body text-light">

                                    <div class="mb-2">

                                        {# Affichage du contenu de l'article, tronqué à 100 mots, sans balises html, suivi de "..." et d'un lien "lire la suite" #}
                                        {{ article.content|striptags|excerpt(100) }}
                                        <a class="text-decoration-none" href="{{ path('blog_publication_view', {slug: article.slug}) }}">Lire la suite</a>
                                    </div>

                                    {# Date et auteur de l'article #}
                                    <footer class="blockquote-footer my-2">Publié le <strong>{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                                    {# Si l'utilisateur a le rôle "ROLE_ADMIN", on affiche un menu avec des boutons permettant de supprimer/modifier l'article #}
                                    {% if is_granted('ROLE_ADMIN') %}

                                        <div class="mt-3">

                                            {# Lien de modification de l'article #}
                                            <a href="{{ path('blog_publication_edit', {id: article.id}) }}" class="text-warning text-decoration-none me-3">
                                                <i class="fa-solid fa-pen-to-square me-1"></i>Modifier
                                            </a>

                                            {# Lien de suppression de l'article #}
                                            {# Le lien comporte un attribut "onclick" pour éviter le clique accidentel qui supprimerait directement l'article #}
                                            {# Le lien comporte un token anti faille CSRF pour éviter l'exploitation de cette faille #}
                                            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette publication ?')" href="{{ path('blog_publication_delete', {id: article.id, csrf_token: csrf_token('blog_publication_delete_' ~ article.id )}) }}" class="text-danger text-decoration-none">
                                                <i class="fa-solid fa-trash-can me-1"></i>Supprimer
                                            </a>

                                        </div>

                                    {% endif %}

                                </div>

                            </div>

                        {% else %}

                            {# Si aucune article n'est à afficher, message en conséquence #}
                            <div class="row">
                                <div class="col-12 text-center alert alert-warning">Aucune publication à afficher.</div>
                            </div>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>

        {# Inclusion du menu de navigation entre les pages #}
        {% include 'partials/_paginate_nav_menu.html.twig' %}

    </div>

{% endblock %}